    
  <mat-card class="textareacss">
    <textarea matInput name="text" [(ngModel)]="text" style="height: 350px; width: 740px;"></textarea>
    <button class="button1" mat-raised-button (click)="addPost()">Submit</button>
  </mat-card>
<mat-card class="card2"> </mat-card>
<mat-expansion-panel class="panel">
  <mat-expansion-panel-header>
    <mat-panel-title *ngIf="posts.length > 0">
      
      Post: {{posts.length}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-card>
    <mat-list>
      <mat-list-item *ngFor="let post of posts">
        {{ post }} 
      </mat-list-item>
    </mat-list>
  </mat-card>
</mat-expansion-panel>
